---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Python",
    icon: "fa-brands:python",
    url: "https://www.python.org/",
  },
  {
    title: "Java",
    icon: "fa-brands:java",
    url: "https://www.java.com/en/",
  },
  {
    title: "C++",
    icon: "fa-brands:cuttlefish",
    url: "https://learn.microsoft.com/en-us/cpp/?view=msvc-170",
  },
  {
    title: "MATLAB",
    icon: "fa-brands:wpforms",
    url: "https://www.mathworks.com/products/matlab.html",
  },
  {
    title: "ARM64",
    icon: "fa-brands:android",
    url: "https://developer.arm.com/documentation/den0013/d/Introduction-to-Assembly-Language",
  },
  {
    title: "HTML/CSS",
    icon: "fa-brands:html5",
    url: "https://www.w3schools.com/html/html_css.asp",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "Git",
    icon: "fa-brands:git",
    url: "https://git-scm.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://about.gitlab.com/",
  },
  {
    title: "Linux",
    icon: "fa-brands:linux",
    url: "https://www.linux.org/",
  },
  {
    title: "Windows",
    icon: "fa-brands:windows",
    url: "https://www.microsoft.com/en-ca/windows?r=1",
  },
  {
    title: "Apple",
    icon: "fa-brands:apple",
    url: "https://www.apple.com/ca/",
  },
];

---

<ContentSection title="SKILLS" id="skills">
  <Fragment slot="lead">
    Here are some <span class="text-primary">programming languages</span>
    that I develop with. {""} I am also proficient in leveraging the following <span class="text-primary">technologies</span> on various <span class="text-primary">operating systems</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="programming languages"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Technologies & Operating Systems"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
