---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Python",
    icon: "fa-brands:python",
    url: "https://reactjs.org/",
  },
  {
    title: "Java",
    icon: "fa-brands:java",
    url: "https://preactjs.com/",
  },
  {
    title: "C++",
    icon: "fa-brands:cuttlefish",
    url: "https://svelte.dev/",
  },
  {
    title: "MATLAB",
    icon: "fa-brands:wpforms",
    url: "https://www.solidjs.com/",
  },
  {
    title: "ARM64",
    icon: "fa-brands:android",
    url: "https://vuejs.org/",
  },
  {
    title: "HTML/CSS",
    icon: "fa-brands:html5",
    url: "https://lit.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "Git",
    icon: "fa-brands:git",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
  {
    title: "Linux",
    icon: "fa-brands:linux",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
  {
    title: "Windows",
    icon: "fa-brands:windows",
    url: "https://render.com/",
  },
  {
    title: "Apple",
    icon: "fa-brands:apple",
    url: "https://pages.github.com/",
  },
];
---

<ContentSection title="SKILLS" id="compatibility">
  <Fragment slot="lead">
    Here are some <span class="text-primary">programming languages</span>
    that I develop with. {""} I am also proficient in leveraging the following <span class="text-primary">technologies</span> on various <span class="text-primary">operating systems</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="programming languages"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Technologies & Operating Systems"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
