---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Python",
    icon: "fa-brands:python",
    url: "https://www.python.org/",
  },
  {
    title: "Java",
    icon: "fa-brands:java",
    url: "https://www.java.com/en/",
  },
  {
    title: "C++",
    icon: "fa-brands:cuttlefish",
    url: "https://learn.microsoft.com/en-us/cpp/?view=msvc-170",
  },
  {
    title: "MATLAB",
    icon: "mdi:graph",
    url: "https://www.mathworks.com/products/matlab.html",
  },
  {
    title: "ARM64",
    icon: "fa-brands:android",
    url: "https://developer.arm.com/documentation/den0013/d/Introduction-to-Assembly-Language",
  },
  {
    title: "Verilog",
    icon: "mdi:cog",
    url: "https://www.systemverilog.io/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "SIMULINK",
    icon: "mdi:chart-waterfall",
    url: "https://www.mathworks.com/brand.html",
  },
  {
    title: "FPGA",
    icon: "mdi:chart-gantt",
    url: "https://www.arm.com/glossary/fpga#:~:text=What%20Is%20an%20FPGA%3F,requirements%20after%20the%20manufacturing%20process.",
  },
  {
    title: "Linux",
    icon: "fa-brands:linux",
    url: "https://www.linux.org/",
  },
  {
    title: "OpenCV",
    icon: "mdi:camera-outline",
    url: "https://opencv.org/",
  },
  {
    title: "TensorFlow",
    icon: "mdi:code-array",
    url: "https://www.tensorflow.org/",
  },
];

---

<ContentSection title="SKILLS" id="skills">
  <Fragment slot="lead">
    Here are some <span class="text-primary">programming languages</span>
    that I develop with. {""} I am also proficient in leveraging the following <span class="text-primary">technologies</span> on various <span class="text-primary">operating systems</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="programming languages"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Software & Technologies"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
